<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Chat Room</title>
</head>
<body>
    <h1 id = "message-header">{{username}} WebSocket Chatroom</h1>
    <form id="message-form" onsubmit="addMessage(event)">
        <input type="text" id="message-input">
        <button type="submit" id="message-btn">Send</button>
    </form>
    <div id="chat-box"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script>
        const username = document.getElementById("message-header").innerText.split(" ")[0]
        const socket = io()
        const form = document.getElementById("message-form")
        const input = document.getElementById("message-input")
        const chatBox = document.getElementById("chat-box")

        console.log(form)

        const addMessage = (event)=>{
            event.preventDefault()
            const message = input.value;
            console.log(message)
            if (message != "") {
                socket.emit("message", `${username} : ${message}`)
            }
            input.value = ""
        }

        socket.on("message", function(message){
            const p = document.createElement("p")
            p.textContent = message
            if (message.includes(`${username}`)) {
                p.style.color = "blue"
            } else if (message.includes("connected")) {
                p.style.color = "cyan"
            } else {
                p.style.color = "red"
            }
            chatBox.appendChild(p)
        })

        socket.on("connect", function() {
            socket.emit("message", `${username} connected`)
        })
    </script>
</body>
</html>